body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    /* 17px */
    /*background-color: #ECE9EE;*/
  }

  h1, h2, h3, h4, h5, h6, p, div, a, td, table, b, label, .label-info, .highlight, div, .date, button {
    font-family: 'Roboto', sans-serif;
  }
  h1, h2 {
    font-weight: 100;
  }
  h2{
    font-size: 40px;
  }
  h4{
    font-size: 25px;
}
  h3, h4, p, div, a, td, table, label, .label-info, .date {
    font-weight: 300;
  }
  b {
    font-weight: 500;
  }
  
  h1 {
      margin-bottom: 2rem;
  }
  
  div {
    font-size: 18px;
    /* 16px */
  }
  
  a {
      color: #20284D;
      /*color: #4c9d96; #448D87;*/
  }
  
  a:hover {
    /* color: #cb5920; */
    text-decoration: none;
    color: #e0e0e0 !important;
    /* background-color: #448D87; #5ee0d6;*/
  }
  
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #20284D !important;
  }

  
  p {
    text-align: justify;
  }
  td {
    font-size: 5px;
    padding: 2px;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    margin-bottom: 1.3em;
    width:80%;
  }
  .current_tab{font-weight: bold;}
  .subdued_text{
    color: #999999;
    /* color: #448D87;
    opacity: 50; */
    margin: 0px 1em 1em 0px;
  }
  .blank{
    height: 2em;
    clear: both;
  }
  
  .highlight {
    /* background-color: #448D87; */
    color: #448D87;
    opacity: 100%;
    font-weight: 100;
  
    border-top: 1px solid #448D87;
    border-bottom: 1px solid #448D87;
    border-right: 1px solid #448D87;
    border-left: 1px solid #448D87;
  }
  
  .colored {
    color: #448D87;
  }

  .date {
    color: #FFFFFF;
    background-color: #448D87;
  }
  
  .label-info {
    /* background-color: #448D87; */
    color: #448D87;
    background-color: #FFFFFF
  }
  
  .label-info[href]:hover {
    color: #FFFFFF;
    background-color: #448D87;
  }

  .label-info:hover {
    color: #FFFFFF;
    background-color: #448D87;
  }
  
  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  

/* 프로필 사진용 */
.profile-img {
  border-radius: 10px;                 /* 모서리 둥글게 */
  border: 1px solid #e0e0e0;           /* 옅은 회색 테두리 */
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); /* 아주 약한 그림자 */
}

/* 논문 썸네일용 */
.pub-thumb {
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.06);
}




